/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
}
body {
    margin: 0; /* Asegura que el cuerpo no tenga márgenes */
}
