services:
  # Base de Datos
  mongodb:
    image: mongo:latest
    container_name: mongodb_catapi
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # Backend (Spring Boot)
  backend:
    build: ./Backend/catapi
    container_name: spring_backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb+srv://kevin2397935_db_user:Admin12345@cluster0.xeb9nhf.mongodb.net/catapi?retryWrites=true&w=majority
      - THECATAPI_KEY=live_4Kddm1irxgjvGQAMvOp84DlHGlM72sO36JQ1B4FJVADUj696a8c5h1qKOmQMBfpU

  # Frontend
  frontend:
    build: ./Frontend/Apicat
    container_name: angular_frontend
    ports:
      - "80:4200"  
    depends_on:
      - backend

volumes:
  mongo_data: