
.sidebar-container {
    width: 260px;
    height: 100vh;
    z-index: 1000;
    position: relative;
}


.content-body {
    background-color: #f8f9fa; 
}


.content-body::-webkit-scrollbar {
    width: 6px;
}

.content-body::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 10px;
}