/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}
body {
    line-height: 1; /* Normaliza el espaciado de línea */
}

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #f8f9fa;
}